<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="Xunkong.Desktop"
	  Publisher="CN=Xunkong by Scighost"
	  Version="0.1.4.1" />

	<Properties>
		<DisplayName>寻空 预览版</DisplayName>
		<PublisherDisplayName>Scighost</PublisherDisplayName>
		<Logo>Assets\Logos\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="Xunkong.Desktop"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="寻空"
			  Description="怎么是派蒙？  因为荧在寻空。"
			  BackgroundColor="transparent"
			  Square44x44Logo="Assets\Logos\Square44x44Logo.png"
			  Square150x150Logo="Assets\Logos\Square150x150Logo.png">
				<uap:DefaultTile
					Square71x71Logo="Assets\Logos\SmallTile.png"
					Wide310x150Logo="Assets\Logos\Wide310x150Logo.png"
					Square310x310Logo="Assets\Logos\LargeTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile>
			</uap:VisualElements>
			<Extensions>
				<Extension Category="windows.backgroundTasks" EntryPoint="Xunkong.Desktop.BackgroundTask.DailyNoteTask">
					<BackgroundTasks>
						<Task Type="timer"/>
					</BackgroundTasks>
				</Extension>
				<Extension Category="windows.backgroundTasks" EntryPoint="Xunkong.Desktop.BackgroundTask.HoyolabCheckInTask">
					<BackgroundTasks>
						<Task Type="timer"/>
					</BackgroundTasks>
				</Extension>
				<desktop:Extension Category="windows.fullTrustProcess" Executable="Xunkong.Desktop\Xunkong.Desktop.Extension.exe">
					<desktop:FullTrustProcess>
						<desktop:ParameterGroup GroupId="DailyNoteTask" Parameters="DailyNoteTask"/>
						<desktop:ParameterGroup GroupId="HoyolabCheckInTask" Parameters="HoyolabCheckInTask"/>
					</desktop:FullTrustProcess>
				</desktop:Extension>
			</Extensions>
		</Application>

	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>

	<Extensions>
		<Extension Category="windows.activatableClass.inProcessServer">
			<InProcessServer>
				<Path>Xunkong.Desktop\WinRT.Host.dll</Path>
				<ActivatableClass ActivatableClassId="Xunkong.Desktop.BackgroundTask.DailyNoteTask" ThreadingModel="both" />
				<ActivatableClass ActivatableClassId="Xunkong.Desktop.BackgroundTask.HoyolabCheckInTask" ThreadingModel="both" />
			</InProcessServer>
		</Extension>
	</Extensions>
</Package>
