<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="Xunkong.Desktop.Package"
	  Publisher="CN=Xunkong by Scighost"
	  Version="1.0.0.0" />

	<Properties>
		<DisplayName>寻空</DisplayName>
		<PublisherDisplayName>Scighost</PublisherDisplayName>
		<Logo>Assets\Logos\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="寻空"
			  Description="Scighost 的原神工具箱"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Logos\Square150x150Logo.png"
			  Square44x44Logo="Assets\Logos\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Logos\Wide310x150Logo.png"  Square71x71Logo="Assets\Logos\SmallTile.png" Square310x310Logo="Assets\Logos\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\Logos\SplashScreen.png"/>
			</uap:VisualElements>
			<Extensions>
				<Extension Category="windows.backgroundTasks" EntryPoint="Xunkong.Desktop.Background.DailyNoteTask">
					<BackgroundTasks>
						<Task Type="timer"/>
					</BackgroundTasks>
				</Extension>
				<desktop:Extension Category="windows.fullTrustProcess" Executable="Xunkong.Desktop\Xunkong.Desktop.exe">
					<desktop:FullTrustProcess>
						<desktop:ParameterGroup GroupId="DailyNoteTask" Parameters="DailyNoteTask"/>
					</desktop:FullTrustProcess>
				</desktop:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>

	<Extensions>
		<Extension Category="windows.activatableClass.inProcessServer">
			<InProcessServer>
				<Path>Xunkong.Desktop\WinRT.Host.dll</Path>
				<ActivatableClass ActivatableClassId="Xunkong.Desktop.Background.DailyNoteTask" ThreadingModel="both" />
			</InProcessServer>
		</Extension>
	</Extensions>
</Package>
